@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
        Change favorite color
        Default: hsl(255, 90%, 60%)
        Orange: hsl(14, 90%, 60%) - Blue: hsl(210, 90%, 50%)
        Pink: hsl(356, 100%, 65%) - Green: hsl(162, 90%, 40%)
  
        For more colors visit: https://colors.dopely.top/color-pedia
        -> Choose any color 
        -> Click on tab (Color Conversion)
        -> Copy the color mode (HSL)
    */
    --p: hsl(255, 90%, 60%);
    --hue: 255;
    --first-color: hsl(var(--hue), 90%, 60%);
    --first-color-alt: hsl(var(--hue), 82%, 56%);
    --first-color-light: hsl(var(--hue), 40%, 80%);
    --title-color: hsl(var(--hue), 24%, 16%);
    --text-color: hsl(var(--hue), 8%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 60%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --shadow-color: hsla(var(--hue), 90%, 30%, .1);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
textarea,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

input,
button,
textarea {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
      Color changes in some parts of 
      the website, in dark theme
  ==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1200px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem;
}

.section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}

.linea-before {
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.linea-before::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: var(--first-color);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.linea-completa {
    text-align: center;
    max-width: max-content;
    border-bottom: 4px solid var(--first-color);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    padding-inline: 1.5rem;
}

/* ===============  button ================ */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 5rem;
    transition: background-color .4s, box-shadow .4s;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 24px hsla(var(--hue), 90%, 30%, .3);
}

.button i {
    margin-right: .5rem;
}


/* ===================================================== */
/*====================== HEADER & NAV ==================*/
/* ===================================================== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, .5);
    transition: background-color .4s, box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    font-weight: 900;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color-alt);
    font-weight: 600;
}

.nav__toggle {
    transition: color .4s;
}

.nav__close {
    font-weight: 900;
    font-size: 1.7rem;
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 12px 24px var(--shadow-color);
        padding-block: 5rem 4rem;
        transition: top .45;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav__link {
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav__item{
    color: var(--title-color);
}

.nav__item:hover {
    color: var(--first-color);
}


.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

/* ====Mostrar menu */
.show-menu {
    top: 0;
}

/* estilos nav para otras paginas */
.header-pages {
    background-color: var(--body-color);
}

.header-pages :is(.nav__logo, .nav__toggle) {
    color: var(--title-color);
}

/* ==================================================== */
/* ====================== HOME ======================= */
/* ==================================================== */
.home {
    padding-block: 4rem 1rem;
    gap: 1rem;
    max-width: 1200px;
    margin-inline: 0;
}

.home__title {
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.home__title::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: var(--first-color);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.home__content {
    text-align: center;
}

.home__social {
    margin-block: 1rem;
    font-size: 1.7rem;
    color: var(--first-color-alt);
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.home__social i {
    cursor: pointer;
}

/* ==================================================== */
/* ====================== PRODUCTO ======================= */
/* ==================================================== */

.producto__title {
    margin-inline: auto;
    margin-bottom: 2rem;
}

.producto__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1.5rem;

}

.producto__card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, .5);
}


.producto__img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.producto__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
}

.producto__texto {
    font-weight: 700;
}

.producto__button {
    padding: .8rem 2rem;
    border-radius: 10px;
}


/* ==================================================== */
/* ====================== PERSONAL ======================= */
/* ==================================================== */
.personal {
    background-color: #141523;
    color: #c2b8e0;
}

.personal__container {
    display: grid;
    gap: 1.5rem;
}

.personal__title {
    color: #c2b8e0;
    text-align: center;
    margin-bottom: 1.5rem;
}

.personal__title::before {
    background-color: var(--first-color);
    width: 250px;
}

.personal__text {
    text-align: justify;
}

.personal__figura {
    text-align: center;
}

.personal__img {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 1rem;
}

.personal__contact {
    padding-top: 3rem;
    text-align: center;
}


/* ==================================================== */
/* ====================== RESULTADO ======================= */
/* ==================================================== */
.resultado__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.resulatado__container {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: 1fr;

}

.resulatado__item {
    text-align: center;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, .5);
    padding: 1rem;
    border-radius: 1rem;
}

.resulatado__p {
    border: 3px solid var(--first-color);
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-size: 2.9rem;
    color: var(--first-color);
    font-weight: 600;
    margin: auto;
}

.resulatado__number,
.resulatado__text {
    font-weight: 800;
}

.resulatado__number {
    font-size: 1.5rem;
    margin-block: .5rem;
    color: var(--first-color);
}

.resultado__contact {
    margin-top: 1rem;
    text-align: center;
}


/* ==================================================== */
/* ====================== FOOTER ======================= */
/* ==================================================== */
.footer {
    color: var(--body-color);
}

.footer-one {
    display: grid;
    justify-content: center;
    background-color: var(--first-color);
}

.footer-two {
    background-color: #141523;
}

.footer__container {
    display: grid;
    gap: 1.5rem;
}

.footer__img {
    border-radius: 1rem;
}

.footer__title {
    color: var(--body-color);
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.footer__contacto,
.footer__social {
    gap: 1rem
}

.footer__contact {
    text-align: center;
}

.footer__contacto a:hover {
    color: #141523;
}

.footer__contacto i {
    padding-right: .5rem;
}

.footer__social {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer__button {
    background-color: var(--body-color);
    color: var(--first-color-alt);
    font-weight: 800;
}

.footer__social i:hover {
    color: #c2b8e0;
}

.footer__button:hover {
    background-color: #c2b8e0;
}

.footer__copy {
    background-color: #141523;
    color: #c2b8e0;
    padding-block: 1rem;
}

.footer__copy p {
    text-align: center;
    font-weight: 600;
}

/* ==================================================== */
/* ====================== SCROLL BAR ======================= */
/* ==================================================== */
::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(var(--hue), 20%, 85%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue), 20%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue), 20%, 55%);
}

/* ==================================================== */
/* ====================== SCROLL up ======================= */
/* ==================================================== */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    box-shadow: 0 12px 24px var(--first-color-light);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

.show-scroll{
    bottom: 3rem;
}

.bot{
    position: fixed;
    left: 1rem;
    bottom: 3rem;
    background-color: #25d366;
    box-shadow: 0px 0px 5px 1px #61f397;
    display: inline-flex;
    padding: 8px;
    font-size: 1.25rem;
    color: var(--body-color);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container{
        margin-inline: 1rem;
    }
    
    
}

/* For medium devices */
@media screen and (min-width: 520px) {
    .home__figure{
        width: 80%;
        margin: auto;
        
    }

    .home__figure img{
        border-radius: 1rem;
    }

    .resulatado__container{
        grid-template-columns: 1fr 1fr;
    }

    .personal__contact a{
        padding-inline: 9rem;
    }
    
}

@media screen and (min-width: 700px) {
    .home__figure{
        width: 70%;
        margin: auto;  
    }

    .resulatado__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem
    }
    
    
}

@media screen and (min-width: 900px) {
    .home{
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    h1,h2{
        font-size: 1.9rem;
        margin-bottom: 1.5rem;
    }

    .home__social{
        font-size: 1.9rem;
        margin-block: 1.5rem;
    }

    .home__figure{
        width: 90%;
        margin: auto;  
    }

    .home__content{
        order: 1;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .home__figure{
        order: 2;
        
    }

    .home__content a{
        justify-self: center;
    }

    .personal__title{
        padding-bottom: 1rem;
    }

    .personal__text{
        line-height: 2rem;
    }

    .personal__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    
    .personal__content{
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .personal__contact{
        grid-column: span 2;
    }

    .footer__container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__contacto{
        gap: 1.5rem;
    }

    .footer__contacto i{
        padding-inline: .5rem 1rem;
        font-size: 1.3rem;
    }
    
    .footer__social{
        margin-block: 1.5rem;
    }

    .footer__container{
        padding-block: 4rem;
    }
}


/* For large devices */
@media screen and (min-width: 1150px){

    .button{
        padding-inline: 6.5rem;
    }

    .section{
        padding-block: 6rem;
    }

    .footer__container{
        padding-block: 4rem;
    }

    .producto__cards{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 2rem;
    }
    h1,h2{
        font-size: 2.5rem;
    }

    .home{
        gap: 0;
        max-width: 1300px;
    }

    .home__figure{
        width: 100%;
    }

    .home__content{
        width: 90%;
        margin: auto;
        row-gap: 1rem;
    }

    .home__title{
        font-size: 3rem;
    }

    .home__texto{
        width: 80%;
        margin: auto;
    }

    .nav{
        height: calc(var(--header-height) + .5rem);
    }

    .nav__close,
    .nav__toggle{
        display: none;
    }

    .nav__menu{
        margin-left: auto;
    }

    .nav__list{
        flex-direction: row;
        align-items: center;
        column-gap: 3rem;
    }

    .nav__button{
        background-color: var(--first-color);
        padding: 0;
        padding: .5rem 1rem;
        color: var(--body-color);
        font-weight: 500;
    }

    .nav__button:hover{
        box-shadow: none;
        opacity: .5;
    }

    .producto__button{
        padding-inline: 2rem;
    }

    .personal__container{
        column-gap: 4rem;
    }

    .personal__title {
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
    }

    .personal__img{
        width: 100%;
        max-width: 450px;
    }

    .resulatado__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-block: 3rem;
    }

    .scrollup {
        right: 3rem;

        padding: 10px;
        font-size: 1.4rem;
    }

    .bot{
        padding: .9rem;
        font-size: 2rem;
        border-radius: 10px;
    }

    

    
}

@media screen and (min-width: 1200px){

    .home{
        /* max-width: 100px; */
    }

    .container{
        margin: auto;
    }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */