/*=============== VARIABLES CSS ===============*/



/* ================================================ */
/* ===================== MAIN ====================== */
/* ================================================ */

/* ================================================ */
/* ===================== tienda ====================== */
/* ================================================ */

.tienda__title{
    margin-inline: auto;
    margin-bottom: 2rem;
}

/* ================================ NAV */

.main{
    margin-inline: .5rem;
}



@media screen and (max-width: 1150px) {
    .tienda__nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
        
    }
    
    .tienda__categoria{
        background-color: var(--first-color);
        padding: .5rem;
        color: var(--body-color);
        font-weight: 800;
        display: flex;
        align-items: center;
        gap: .25rem;
        cursor: pointer;
    }
    
    .tienda__categoria i{
        font-size: 1.2rem;
    }
    .tienda__nav-h3{
        font-size: 1rem;
    }
    
    .tienda__lists{
        position: fixed;
        background-color: rgb(0, 0, 0, .5);
        top: var(--header-height);
        left: 0;
        height: calc(100vh - 3.5rem) ;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tienda__lists-h3{
        display: none;
    }
    
    .tienda__list{
        width: 90%;
        max-width: 400px;
        background-color: var(--body-color);
        padding-block: 4rem;
        border-radius: 1rem;
        display: grid;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .tienda__cat{
        cursor: pointer;
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: 1rem;

    }
    
    .tienda__cat i{
        font-size: 1.25rem;
    }

    .tienda__right{
        justify-self: flex-end;
    }
    
    .tienda__cat img{
        display: inline-block;
        width: 1.25rem;
    }
    
    .tienda__close{
        position: absolute;
        background-color: var(--first-color-alt);
        color: var(--body-color);
        top:2.5rem;
        right: 2rem;
        font-weight: 900;
        font-size: 1.5rem;
        padding: .5rem;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .show-menu-tienda{
        display: flex;
    } 
}

@media screen and (max-width: 430px) {
    .tienda__nav-h3{
        font-size: .77rem;
    }

    .tienda__categoria{
        font-size: .7rem;
        font-weight: 500;
    }
}



/* ========================================= tienda card */
.tienda__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;

}

.tienda__card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, .5);
}


.tienda__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.tienda__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem 1rem;
}

.tienda__texto {
    font-weight: 700;
}

.tienda__button {
    padding: .8rem 1.5rem;
    border-radius: 10px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 400px){
    .tienda__cat{
        align-items: center;
    }
    .tienda__cat b{
        font-size: .8rem;
    }
}

/* For large devices */
@media screen and (min-width: 1150px){
    .main{
        width: 98%;
        margin-inline: auto;
        max-width: 1500px;
    }

    .tienda__nav{
        display: none;
    }

    .tienda__content-grid{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1.5rem;
    }

    .tienda__lists-h3{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-weight: 800;
    }

    .tienda__list{
        width: 100%;
        max-width: 400px;
        border-radius: 1rem;
        display: grid;
        justify-content: center;
        gap: 1.5rem;
        font-size: .89rem;
    }

    .tienda__cat{
        cursor: pointer;
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: .8rem;
        
    }

    .tienda__right{
        justify-self: flex-end;
        transition: .3s transform;
    }

    .tienda__cat:hover{
        color: var(--first-color);
    }

    .tienda__cat:hover .tienda__right{
        transform: translateX(.25rem);
    }

    .tienda__cat i{
        font-size: 1.25rem;
    }

    
    .tienda__cat img{
        display: inline-block;
        width: 1.25rem;
    }

    .tienda__close{
        display: none;
    }

    .tienda__cards{
        padding-top: 1rem;
    }

    .tienda-morada{
        color:var(--first-color-alt);
        font-weight: 600;
    }
}